@import '../../../../variables';

$productDetailsPadding: 15px;
$productDetailsMargin: 10px;

:host{
    display: flex;
    flex-direction: column;

    .product-details_content{
        display: flex;
        flex-direction: column; 

        .product-image-parameters{
            display: flex;
            flex-direction: row;

            .product-image{
                
                padding: $productDetailsPadding;
                margin: $productDetailsMargin;
                min-height: 400px;
                width: 50%;
                cursor: pointer;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .product-parameters{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-shrink: 1;
                padding: $productDetailsPadding;
                margin: $productDetailsMargin;
    
                .basket-action{
                    margin-top: 10px;
                    align-self: flex-end;
                    width: 40px;
                    height: 40px;
                }
                .product-parameters__header{
                    font-size: 16pt;
                    font-weight: 500;
                }
    
                .product-parameter{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 5px;
    
                    &:nth-child(odd){
                        background-color: $appMainColor3;
                    }
                }
                
            }
            
        }
        
        .product-description{
            padding: $productDetailsPadding;
            margin: $productDetailsMargin;
        }

        
    }   
}