@import '../../../../variables';
$productItemMargin: 1%;
$productItemPadding: 10px;

@mixin deviceRelatedProductListColumnWidth($columnWidth){
    .products_list_item{
        min-width: calc(#{$columnWidth} - #{2 * $productItemMargin});
        max-width: calc(#{$columnWidth} - #{2 * $productItemMargin});
    }   
}

:host{
    width: calc(100% - #{$navigationBlockWidth}); 
    flex-grow: 1;

    .carousel_container{

        margin: 10px 0;
        display: flex;
        height: 500px;
        width: 100%;
        overflow: hidden;

        .carousel.slide{ 
            height: 100%;
            width: 100%;
            .carousel-inner{
                height: 100%;
                .carousel-item{
                    height: 100%;
                    width: 100%;
                    
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            
        }
    }

    .products_list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .products_list_item{
            flex-grow: 1;
            margin: $productItemMargin;
            padding: $productItemPadding;
        }

        @include deviceRelatedProductListColumnWidth(25%);

        @media (max-width: 1280px)  {
            @include deviceRelatedProductListColumnWidth(33%);
        }

        @media (max-width: 1080px)  {
            @include deviceRelatedProductListColumnWidth(45%);
        }
    }
}