$productItemMargin: 1%;
$productItemPadding: 10px;

@mixin deviceRelatedProductListColumnWidth($columnWidth){
    .products_list_item{
        min-width: calc(#{$columnWidth} - #{2 * $productItemMargin});
        max-width: calc(#{$columnWidth} - #{2 * $productItemMargin});
    }   
}

:host{

    flex-grow: 1;

    .products_list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .products_list_item{
            flex-grow: 1;
            margin: $productItemMargin;
            padding: $productItemPadding;
        }

        @include deviceRelatedProductListColumnWidth(25%);

        @media (max-width: 1280px)  {
            @include deviceRelatedProductListColumnWidth(33%);
        }

        @media (max-width: 1080px)  {
            @include deviceRelatedProductListColumnWidth(45%);
        }
    }
}