<a routerLink="../" *ngIf="product!=null">
    <- вернуться к списку </a>
        <div class="carousel_container" *ngIf="isMainPageContentVisible">
            <div id="bikes_carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#bikes_carousel" [attr.data-slide-to]="i" [ngClass]="{'active': i === 0}" *ngFor="let slide of slides; let i = index"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let slide of slides; let i = index" 
                            [ngStyle]="{'background-image': 'url(' + slide.url + ')'}">
                    </div>
                </div>
            </div>
        </div>
        <div [innerHTML]="this.mainPageContent"></div>

        <product-detail [product]="product" *ngIf="product!=null" class="products_detail">
        </product-detail>
        <span *ngIf="!products.length && product == null && !isMainPageContentVisible">Товари відсутні</span>
        <div class="products_list" *ngIf="products.length">
            <product-list-item (productSelected)="selectProduct($event)" class="products_list_item" *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: currentPage }"
                [product]="product">
            </product-list-item>
        </div>
        <pagination-controls *ngIf="products.length" class="pagination-controls" nextLabel="Следующие" previousLabel="Предыдущие"  autoHide="true" (pageChange)="currentPage = $event"></pagination-controls>