<div class="header-content" [ngStyle]="{'background-color': contactInfo.headerColor}">
    <logo class="logo"></logo>
    <div class="shop-info">
        <div class="shop-main-info">
            <div class="shop-slogan">{{contactInfo.slogan}}
                <div class="shop-contacts_basket" (click)="goToBasket()">
                    <img src="/assets/basket.png" class="basket-icon" />
                    <span class="basket-counter" *ngIf="order.ItemsCount" >{{order.ItemsCount}}</span>
                </div>
            </div>
            <div class="shop-menu">
                <menu-bar></menu-bar>
                <search-bar></search-bar>
            </div>
        </div>
        <div class="shop-contacts">
            <div class="shop-contacts_work-time">
                <span>{{contactInfo.workTime}}</span>
            </div>

            <div class="shop-contacts_phone-list">
                <img src="/assets/phones.gif" class="phone-icon" />
                <div class="phones">
                    <span *ngFor="let phone of contactInfo.phonesList" class="shop-contacts_phone">
                        {{phone}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom">
</div>