@import '../../../../variables';

:host{
    display: flex;
    flex-direction: column;

    .header-content{

        display: flex;
        flex-direction: row;
        background: #000; /* Old browsers */

        .shop-info{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            padding: 10px;

            .shop-contacts{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 13pt;
                min-width: 165px;

                .shop-contacts_phone-list{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: white;
                    padding-bottom: 3px;

                    .phone-icon{
                        height: 100%;
                        width: 36px;
                        align-self: flex-end;
                        margin-right: 5px;
                    }

                    .phones{
                        display: flex;
                        flex-direction: column;

                        .shop-contacts_phone{
                            padding-top: 5px;
                            text-align: right;
                        }
                    }
                    
                }

                .shop-contacts_work-time{
                    color: darkgrey;
                    font-weight: 500;
                    text-align: right;
                    font-size: 14pt;
                }
            }

            .shop-main-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                padding: 5px 20px 5px 10px;

                .shop-slogan{
                    flex-grow: 1;
                    color: $appMainColor1;
                    font: 30pt Century Gothic;

                    @media (max-width: 1400px){
                        font-size: 24pt;
                    }
                }

                search-bar{
                    width: 300px;
                    @media (max-width: 1400px){
                            width: 150px;
                    }

                    @media (max-width: 1200px){
                        display: none;
                    }
                }

                .shop-menu{
                    color: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-bottom: 5px;
                }
            }

            
        }
    }

    .header-bottom{
        display: flex;
        flex-direction: row;

        background: -webkit-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 100%);
    }    
}