<form #f="ngForm" name="from" (ngSubmit)="f.form.valid && saveChanges()">
  <div class="form-group" [ngClass]="{'has-error': f.submitted && !slogan.valid}">
    <label for="slogan">Слоган</label>
    <input class="form-control" type="text" [(ngModel)]="entityData.slogan" #slogan="ngModel" required name="slogan" />
    <span class="error-message"> введите слоган </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': f.submitted && !phones.valid}">
    <label for="phones">Номера телефонов (через ;)</label>
    <input class="form-control" [(ngModel)]="entityData.phones" #phones="ngModel" name="phones" />
    <span class="error-message"> введите номера телефонов </span>
  </div>
  <div class="form-group">
    <label for="workTime">Время работы</label>
    <input class="form-control" [(ngModel)]="entityData.workTime" required name="workTime" />
  </div>

  <div class="form-group">
    <label for="usdCourse">Курс валюты</label>
    <input class="form-control" [(ngModel)]="entityData.usdCourse" name="usdCourse" value="1" required/>
  </div>

  <div class="form-group">
      <label for="usdCourse">Цвет шапки</label>
      <input type="color" class="form-control header-color"  [(ngModel)]="entityData.headerColor" name="headerColor" required/>
      <span class="error-message"> введите цвет шапки </span>
    </div>

  <div class="form-group">
    <label for="mainPageContent">Контент главной страницы</label>
    <ckeditor [(ngModel)]="entityData.mainPageContent" debounce="500" name="mainPageContent"></ckeditor>
  </div>

  <div class="form-group">
    <label for="deliveryPageContent">Контент страницы доставки</label>
    <ckeditor [(ngModel)]="entityData.deliveryPageContent" debounce="500" name="deliveryPageContent"></ckeditor>
  </div>
  <div class="form-group form-actions">
    <button class="save-button" class="btn btn-primary">{{isCreating?'Создать':'Сохранить'}} </button>
  </div>
</form>