<a routerLink="../" class="back-link">
  <- вернуться к списку </a>
    <div class="editor-content" *ngIf="entity">
      <category-editor [entityData]="entity" (onChange)="processEntity($event)" *ngIf="entityType === 'categories'"></category-editor>
      <contact-information-editor [entityData]="entity" (onChange)="processEntity($event)" *ngIf="entityType === 'contactInformation'"></contact-information-editor>
      <parameter-editor [entityData]="entity" (onChange)="processEntity($event)" *ngIf="entityType === 'parameters'"></parameter-editor>
      <product-editor [entityData]="entity" (onChange)="processEntity($event)" *ngIf="entityType === 'products'"></product-editor>
      <user-editor [entityData]="entity" (onChange)="processEntity($event)" *ngIf="entityType === 'users'"></user-editor>
      <value-type-editor [entityData]="entity" (onChange)="processEntity($event)" *ngIf="entityType === 'valueTypes'"></value-type-editor>
    </div>