<div class="image-container">
    <div [ngClass]="{'image-item': true, 'selected': image.isSelected}" *ngFor="let image of product.images">
        <button (click)="removeImage(image.id)" class="btn btn-danger">
            X
        </button>
        <img [src]="image.url" (click)="selectImage(image)" />
    </div>
</div>
<div class="uploader-container">
    <photo-upload (startUploading)="startUploading()" (imageUploaded)="addImage($event)"></photo-upload>
    <button class="btn btn-success mark-main-imag-btn" (click)="markAsMainImage()">Сделать главной</button>
    <loading-indicator *ngIf="isImageLoading || isMarkAsMainImageProcessing"></loading-indicator>
</div>
