<form #f="ngForm" name="from" (ngSubmit)="f.form.valid && saveChanges()">
  <div class="form-group" [ngClass]="{'has-error': f.submitted && (!login.valid && isCreating)}">
    <label for="login">Логин</label>
    <input [disabled]="!isCreating" class="form-control" type="text" [(ngModel)]="entityData.name" 
        #login="ngModel" required name="login" />
    <span class="error-message"> введите логин </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
    <label for="password">Пароль</label>
    <input class="form-control" type="password" [(ngModel)]="entityData.password" 
      #password="ngModel" name="password" required/>
    <span class="error-message"> введите пароль </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': f.submitted && (!passwordConfirm.valid || !passwordsMatch)}">
    <label for="passwordConfirmation">Повторите пароль</label>
    <input class="form-control" type="password" [(ngModel)]="passwordConfirmation" 
      #passwordConfirm="ngModel" 
      name="passwordConfirmation"
      required
    />
    <span class="error-message" *ngIf="!passwordConfirm.valid"> введите пароль </span>
    <span class="error-message" *ngIf="!passwordsMatch"> пароли не совпадают </span>
  </div>
  <div class="form-group form-actions">
    <button class="save-button" class="btn btn-primary">{{isCreating?'Создать':'Сохранить'}} </button>
  </div>
</form>