:host{
    .order-details{
        .order-details-item__name{
            min-width: 150px;
            display: inline-block;
        }   
        .order-details-item__value{
            font-weight: 700;
            display: inline-block;
        }
    }

    .order-items{
        margin-top: 20px;
        .order-item{
            margin: 5px;
            display: flex;
            flex-direction: row;
    
            .order-item__img{
                width: 100px;
                max-height: 100px;
            }
            .order-item__description{
                padding: 10px;
                display: flex;
                flex-direction: column;
            }
        }
    }
}