@import '../../../../variables';

$productItemBorderColor: gray;
$productItemHeaderHeigth: 70px;
$productItemContentHeigth: 150px;
$productItemFooterHeigth: 40px;

:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    cursor: pointer;
    border: 1px solid $productItemBorderColor;

    &.is-sold-out{
        background-color: lightgray;   
    }

    .sold-out-label{
        position: absolute;
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        border-width: 3px 0;
        border-style: solid;
        border-color: darkgray;
        background-color: lightgray;
        color: black;
        margin-left: -10px;
        padding: 5px;
        font-size: 16pt;
        text-align: center;
    }

    .product_header{
        display: flex;
        justify-content: center;
        align-items: center;

        height: $productItemHeaderHeigth;
        overflow: hidden;
        font-size: 12pt;
        color: blue;
    }

    .product_content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: $productItemContentHeigth;

        .product_thumbnail{
            display: flex;
            max-height: $productItemContentHeigth;
            max-width: 100%;
        }
    }

    .product_footer{
        height: $productItemFooterHeigth;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;

        .old-price{
            text-decoration:line-through;
            color: white;
            padding: 0px 10px;
            background-color: lightgray;
            transform: translate3d(0,-10px, 0);
            font-size: 15pt;
        }

        .actual-price{
            font-weight: bold;
            color: $appMainColor1;
            padding: 5px;
            font-size: 18pt;
        }

        .currency{
            font-size: 14pt;
        }
    }
}