
$bodyWidth: 65%;
$contentMinWidth: 600px;
$headerHeight: 200px;
$navigationBlockWidth: 240px;

$errorMessageColor: red;

$appMainColor1: rgb(138, 199, 59);
$appMainColor2: rgb(213, 255, 155);
$appMainColor3: rgb(220, 252, 176);