/* You can add global styles to this file, and also import other style files */

@import 'variables'; 
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/angular-tree-component/dist/angular-tree-component.css';

$errorMessageHeight: 25px;
$formGroupBottomPadding: $errorMessageHeight;

html{ 
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100%;
}

body.app{
    display: flex;
    width: $bodyWidth; 
    justify-content: center;
    min-height: 100%; 
    overflow: hidden;

    @media (max-width: 1200px){
        width: 90%;
    }
}

.error-message{
    min-height: $errorMessageHeight;
    color: $errorMessageColor;
    display: none;
}

.form-group{
    padding-bottom: $errorMessageHeight;

    &.has-error{
        padding-bottom: 0;
        .error-message{
            display: block;
        }
    }
}

// tree overloades
.node-content-wrapper{

    &.node-content-wrapper-active{
        margin-left: -30px;
        padding-left: 35px;
        width: 100%;
        background-color: $appMainColor1 !important;
    }
    &.node-content-wrapper-focused    {
        background-color: $appMainColor1 !important;
    }

    &:hover{
        background-color: $appMainColor2 !important;
    }
}

.toggle-children{
    width: 10px;
    height: 10px;
}


// awesomefont
.ngx-gallery-icon {
    color: blue !important;
}

.ngx-gallery-icon{
    font-size: 32px !important;
}

ngx-gallery-preview.ngx-gallery-active{
    background-color: white !important;
}

.ngx-gallery-arrow-wrapper.ngx-gallery-arrow-left{
    left: -30px !important;
}

.ngx-gallery-arrow-wrapper.ngx-gallery-arrow-right{
    right: -30px !important;
}

ngx-gallery-preview .ngx-gallery-arrow-wrapper.ngx-gallery-arrow-right{
    right: 0px !important;
}

ngx-gallery-preview .ngx-gallery-arrow-wrapper.ngx-gallery-arrow-left{
    left: 0px !important;
}

.ngx-pagination{
    text-align: center;
}