<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#mainInfo" role="tab" data-toggle="tab">Основная информация</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#parameters" role="tab" data-toggle="tab">Параметры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#images" role="tab" data-toggle="tab">Изображения</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade show active" id="mainInfo">
    <form #f="ngForm" name="from" (ngSubmit)="f.form.valid && saveChanges()">
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !name.valid}">
        <label for="name">Название товара</label>
        <input class="form-control" type="text" [(ngModel)]="entityData.name" #name="ngModel" required name="name" />
        <span class="error-message"> введите название товара </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !order.valid}">
        <label for="order">Порядок отображения в списке</label>
        <input class="form-control" type="number" min="0" [(ngModel)]="entityData.order" #categoryOrder="ngModel" name="order" />
        <span class="error-message"> введите порядок категории </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !price.valid}">
        <label for="price">Стоимость</label>
        <input class="form-control" type="number" min="0" [(ngModel)]="entityData.price" #categoryOrder="ngModel" name="price" />
        <span class="error-message"> введите стоимость </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !categoryId.valid}">
        <label for="categoryId">Категория</label>
        <select class="form-control" [(ngModel)]="entityData.categoryId" #categoryId="ngModel" name="categoryId" required>
            <option *ngFor="let categoryItem of categoriesList" [ngValue]="categoryItem.id">{{categoryItem.displayName}}</option>
          </select>
        <span class="error-message"> выберите категорию </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !description.valid}">
        <label for="description">Описание</label>
        <input class="form-control" type="text" [(ngModel)]="entityData.description" #categoryName="ngModel" name="description" />
      </div>
      <div class="form-group form-actions">
        <button class="save-button" class="btn btn-primary">{{isCreating?'Создать':'Сохранить'}} </button>
      </div>
    </form>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="parameters">
    <form #fParams="ngForm" name="paramsFrom" (ngSubmit)="fParams.form.valid && addParameter()">
      <div class="form-group" [ngClass]="{'has-error': f.submitted && !name.valid}">
          <label for="parameterValue">Параметр</label>
        <select class="form-control" [(ngModel)]="selectedParameterId" required>
              <option *ngFor="let parameter of allParameters" [ngValue]="parameter.id">{{parameter.displayName}}</option>
            </select>
      </div>
      <div class="form-group" [ngClass]="{'has-error': fParams.form.valid && !parameterValue.valid}">
        <label for="parameterValue">Описание</label>
        <input class="form-control" type="text" [(ngModel)]="selectedParameterValue" name="parameterValue" #parameterValue="ngModel"
          placeholder="введите значение" />
      </div>
      <div class="form-group form-actions">
        <button class="save-button" class="btn btn-primary">Добавить / Изменить</button>
      </div>
    </form>
    <div class="exist-parameters">
      <div class="exist-parameter" 
          (click)="selectProductParameter(productParameter)"
          *ngFor="let productParameter of entityData.parameters">
          <div class="exist-parameter__name">{{productParameter.parameter.displayName}}</div>
          <div class="exist-parameter__name">{{productParameter.value}}</div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="images">
    TODO: implement
  </div>
</div>